body {
background-color: #4991e6;
}
#login {
	position: relative;
	margin: 0 auto;
	float: left;
	width: 100%;
	top: 120px;
	display: inline-block;
}
#info {
	position: relative;
	display: inline-block;
	padding: 15px 40px 15px 40px;
	margin: 0 auto;
	background-image: url(image/loginphoto.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 78%;
	height: 270px;
	box-shadow: 0px 0px 50px 20px #3377cc;
}
#photo {
	position: absolute;
	display: none;
	float: left;
	height: 300px;
	box-shadow: 0px 0px 50px 20px #3377cc;

}
#photo img {
	width: 320px;
	height: 300px;
}
.info-title {
	margin: 15px 0px 25px 0px;
	font-size: 24px;
}
.username {
	margin: 20px 0px 20px 0px;
	font-size: 18px;
}
.username input {
	width: 200px;
	height: 20px;
}
.password {
	margin: 20px 0px 20px 0px;
	font-size: 18px;
}
.password input {
	width: 200px;
	height: 20px;
	margin-left: 12px;
}
.info-login {
	margin: 15px 0px 15px 0px;
	font-size: 18px;
	width: 100%;
}
