body {
background-color: #4991e6;
}
#login {
	position: relative;
	float: left;
	left: 25%;
	width: 100%;
	top: 120px;
	height: 300px;
	display: inline-block;
}
#info {
	display: inline-block;
	padding: 15px 40px 15px 40px;
	background-color: #6aaff9;
	width: 276px;
	height: 270px;
	box-shadow: 0px 0px 50px 20px #3377cc;
}
#photo {
	display: inline-block;
	float: left;
	height: 300px;
	box-shadow: 0px 0px 50px 20px #3377cc;

}
#photo img {
	width: 320px;
	height: 300px;
}
.info-title {
	margin: 15px 0px 25px 0px;
	font-size: 24px;
}
.username {
	margin: 20px 0px 20px 0px;
	font-size: 18px;
}
.username input {
	width: 200px;
	height: 20px;
}
.password {
	margin: 20px 0px 20px 0px;
	font-size: 18px;
}
.password input {
	width: 200px;
	height: 20px;
	margin-left: 12px;
}
.info-login {
	margin: 15px 0px 15px 0px;
	font-size: 18px;
	width: 100%;
}